﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <h1>Welcome {{authService.currentUser.userName}}</h1>
      </div>
    </div>
  </div>
</div>